name: HTTP Server Docker Image

on:
  push:
    branches: [master]
    paths:
      - lab1/http_server/**
      - lab1/httpCommon/**
      - lab1/server.Dockerfile
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:
    branches: [master]
    paths:
      - lab1/http_server/**
      - lab1/httpCommon/**
      - lab1/server.Dockerfile

jobs:
  build:
    name: Build image

    permissions:
      packages: write
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/tda596-lab1-http-server
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            type=edge
            type=ref,event=pr  

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./lab1
          file: ./lab1/server.Dockerfile